<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="../js/jquery-3.2.1.min.js">
    <title>Glyphicons</title>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <i class="glyphicon glyphicon-star"></i>
            <i class="glyphicon glyphicon-trash"></i>
            <i class="glyphicon glyphicon-remove"></i>
            <i class="glyphicon glyphicon-arrow-right"></i>
            <i class="glyphicon glyphicon-arrow-left"></i>
            <i class="glyphicon glyphicon-heart"></i>
            <i class="glyphicon glyphicon-heart-empty"></i>
        </div>
    </div>
</div>
</body>
</html>