<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/bootstrap-theme.min.css">
    <title>Panels</title>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3 col-md-push-1">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <div class="panel-title">
                        Success Panel
                    </div>
                </div>
                <div class="panel-body">
                    This is some text about how you become a succesful in frontend-developing.
                </div>
                <div class="panel-footer">
                    Written by: Marcus Finnberg&trade;
                </div>
            </div>
        </div>
        <div class="col-md-3 col-md-push-1">
            <div class="panel panel-danger">
                <div class="panel-heading">
                    <div class="panel-title">
                        Danger Panel
                    </div>
                </div>
                <div class="panel-body">
                    Warning text! Danger, don't give us any personal info, this site has no web-security yet!
                </div>
                <div class="panel-footer">
                    Written by: Marcus Finnberg&trade;
                </div>
            </div>
        </div>
        <div class="col-md-3 col-md-push-1">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="panel-title">
                        Primary Panel
                    </div>
                </div>
                <div class="panel-body">
                    Some text that is primary for this page. Yeeehaaaa! That's it for now. Cya!
                </div>
                <div class="panel-footer">
                    Written by: Marcus Finnberg&trade;
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>